body {
    background-color: yellow;
}
table {
    position: fixed;
    left: 82%;
    top: 15%;
    background-color: aqua;
}

.Icol {
    width: 30%;
    text-align: center;
    position: absolute;
    left: 15%;
}

.IIcol {
    width: 30%;
    text-align: center;
    position: relative;
    left: 47%;
}

img {
    height: 12%;
    position: relative;
    left: 35%;
}